language: c

os:
  - linux
  - osx

compiler:
  - clang
  - gcc

install:
  - sudo -H pip install cram

before_script:
  - if [ $TRAVIS_OS_NAME == 'osx' ]; then brew install zsh; else sudo apt-get install zsh; fi
  - git config --global user.email "you@example.com"
  - git config --global user.name "Your Name"

script:
  - sudo make install
  - make test
  
